.container {
  width: 100%;
  border: 1px solid #ffffff1a;
  /* background: #404040; */
}

.image {
  width: 99.9%;
  height: 170%;
  background-image: url("\medium-shot-man-cleaning-table 1.png");
  position: absolute;
  object-fit: cover;
}

.help {
  display: flex;
  column-gap: 8px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;

  width: 78px;
  height: 28px;
  position: relative;
  top: 750px;
  left: 35px;
  padding: 6px;
  border-radius: 18px;
  color: #ffffff;
  background: #0c6b71;
}

.baseline {
  width: 18px;
  height: 18px;
  position: relative;
  bottom: 2px;
  left: 5px;
  color: #ffffff;
}

.epme_container {
  width: 39%;
  height: 75%;
  border-radius: 20px;
  position: absolute;
  top: 45%;
  right: 290px;
  margin-top: 50px;
  background: #f8f8f8;
}

.epme_image {
  width: 70%;
  height: 88px;
  /* border: 1px solid red; */
  position: relative;
  left: 10%;
}

.epp_header {
  width: 58%;
  height: 40px;
  margin-left: 110px;
  margin-top: 45px;
}

.epp_header2 {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 100px;
  position: absolute;
  top: 85%;
  left: 50%;
}

.form {
  width: 76%;
  height: 350px;
  position: relative;
  top: 16px;
  left: 19%;
}

.form_input {
  padding: 16px;
  border: 1px;
  width: 320px;
  height: 20px;
  outline: none;
  border-radius: 5px;
  background: #f8f8f8;
  border: 1px solid #bebebe;
}

.input_text {
  width: 90px;
  height: 14px;
  position: relative;
  top: 15px;
  left: 2px;
}

.input_content {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  color: #333333;
}

.password_container {
  width: 320px;
  height: 84px;
  gap: 12px;
  margin-top: 35px;
  margin-bottom: 10px;
}

.password {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.reset_container {
  width: 320px;
  height: 37px;
  margin-top: 10px;
}

.reset {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #5c5c5c;
}

.btn_log {
  width: 215%;
  height: 40px;
  padding: 10px 145px;
  border-radius: 20px;
  position: relative;
  left: -8%;
  top: 230px;
  /* gap: 10px; */
  background: #c0c0c0;
  text-decoration: none;
  color: #ffffff;
}

.btn_para {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: 94px;
  left: 110px;
  width: 150px;
  height: 24px;
  color: #ffffff;
}
